.stripbatiknya {
	background-image: url("../../../../public/stripbatik.png");
	background-repeat: repeat-x;
	background-position: top;
	background-size: 300px;
	min-height: 57px;
	/* position: absolute; */
}

/* .hero-section {
	background-image: url("../../../../public/rumah-hero.png");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: #f5f5f5;
	opacity: 60%;
} */

.hero-section {
	position: relative;
	background-color: #f5f5f5;
	overflow: hidden;
}

.hero-section::after {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("../../../../public/rumah-hero.png");
	background-size: 90% 80%;
	background-repeat: no-repeat;
	background-position: left bottom;
	opacity: 0.8; /* TURUNKAN OPACITY DI SINI */
	z-index: 0;
	-webkit-mask-image: linear-gradient(to left, transparent, black 100%);
	mask-image: linear-gradient(to left, transparent, black 100%);
	right: -60px;
}

.hero-section > * {
	position: relative;
	z-index: 1;
}

::-webkit-scrollbar {
	display: none;
}

* {
	scrollbar-width: none;
}
